{% load static %}
<!DOCTYPE html>
<!--
    THIS IS THE BASE TEMPLATE FOR ALL HTML TEMPLATES IN THIS APPLICATION
    ALL TEMPLATES INHERITS (EXTENDS) FROM THIS
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="https://github.com/TZBAvyy" />
    <link rel="canonical" href="https://universejamband.pythonanywhere.com{% block canonical_url %}{% endblock %}" /> -->
    
    <title>{% block title %}{% endblock title %} | Universe</title>

    <link rel="stylesheet" href={% static "base/base.css" %}>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'base/favicon.ico' %}"/>

    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}{% include "base/header.html" %}{% endblock %}
    <div class="main-container">
        {% block banner %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% include "base/footer.html" %}{% endblock %}
</body>
</html>