{% load static %}
<nav class="navbar">
    <div class="logo-section">
        <a href={% url 'home' %}>
            <img src={% static "base/logo.png" %} alt="" class="nav-logo">
        </a>
    </div>

    <div class="desktop-section">
        {% comment %} Add new header links into the headerLinks.html file {% endcomment %}
        {% include "base/headerLinks.html" %} 
    </div>

    <div class="mobile-section">
        <button class="burger-btn" onclick="menuClick()">
            <img
                src="{% static "base/burger-menu.svg" %}"
                width="60px"
                height="auto"
                alt="\/"
            >
        </button>

        <div id="dropdown-links">
            {% comment %} Add new header links into the headerLinks.html file {% endcomment %}
            {% include "base/headerLinks.html" %}
        </div>

    </div>
</nav>